.write{margin-top:100px;width:1000px;}
.sub-title{
    height: 60px;
    display: flex;
    position: relative;
    margin-bottom:10px;
}

.inquiry{
    width: 84%;
    display: flex;
    gap: 10px;
}
.inquiry>h3{
    margin:13px 0 13px 10px;
    font-family: "kopu";
}
.inquiry>img{
    width:30px;
    height:30px;
    margin:15px 0;
}

.path{
    margin:19px 0;
}
.path>div{
    font-family: "kopume";
}

.write-space{
    border-top: 2.5px solid black;
}

.label-and-writeArea{
    display: flex;
    align-items: stretch;
    gap: 20px;
    /* padding: 10px; */
}

.label-area{
    background-color: #f4f5f7;
    display: flex;
    width: 140px;
    line-height: 60px;
    justify-content: center;
    gap: 5px;
}

.write-area{
    flex: 1;
    padding: 10px 0 ;
    min-height: 60px;
}

.write-input{
    /* 내용입력 칸 */
    width: 100%;
    height: 100%;
    border: 1px solid rgb(202, 197, 197);
}
.editor{
    width: 100%;
    height: 500px;;
}

.line-dotted-preview{
    border: 1px dotted black;
}

.under-line-dotted{

    margin-bottom: 2em;
    margin-top: 1px;
}

.line-dotted{
    /* 제목과 내용 사이의 점선 */

    border-top: 1px dotted rgb(202, 197, 197);
}

.file-upload-info{
    /* 용량제한: ...... 부터 파일선택버튼있는 곳까지 있는 컨테이너 */
    display: flex;
    justify-content: space-between;
    background-color: #f4f5f7;
    border: 1px solid rgb(202, 197, 197);
    /* height: 55px; */
    padding: 10px;
    gap: 2px;
    font-size: 13px;
}
.file-upload-info-left{
}
.file-upload-btn{
    display: none;
}
.upload-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    /* background-color: #65A3FF; */
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
}
.upload-btn>img{
    width:20px;
    height:20px;
}
.upload{
    /* 드래그해서 놓을 곳 */
    min-height: 60px;
    border: 1px dashed rgb(202, 197, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

#upload.dragover{
    border-color: #65A3FF;
    background-color: #f0f9f8;
    color: #65A3FF;
}

.preview-container{
    /* 파일 업로드 되면 추가 될 노드가 들어올 공간 */
    /* background-color: pink; */
    width: 100%;
    /* display: flex; */
    padding: 1.6em;
}

.preview-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #4d072d; */
    margin: 20px 10px;
}

.file-name{
    /* 파일 이름 */
    color: #65A3FF;
    font-size: 14px;
    margin-bottom: 5px;
}

.file-size{
    /* 파일 사이즈 */
    font-size: 14px;
    font-weight: bold;
}

.delete-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #65A3FF;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
}

.submit-box{
    width:1000px;
    height:50px;
    margin-bottom:100px;
    display:flex;
    text-align: center;
    align-items: center;
}

.submit-box .list-btn{
    border-radius: 4px;
    font-family: "kopu";
    background-color: #ccc;
    border:none;
    width:100px;
    height:50px;
    margin-left:400px;
    margin-right:30px;
    color:white;
}
.submit-box .submit-btn{
    border-radius: 4px;
    font-family: "kopu";
    background-color: #65A3FF;
    border:none;
    width:100px;
    height:50px;
    /* margin-left:400px; */
    color:white;
}



