.map-container{
    padding: 20px;
    min-width: 1440px;
    margin: 0 auto;
    position:relative;
    width:100%;
}
.map-controls{
    position:absolute;
    top:20px;
    left:20px;
    z-index:10;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display:flex;
    gap:10px;
    flex-direction: column; 
}
.map-controls>h4{
    font-family:"kopu";
    margin-top:5px;
}

.control-group {
    margin: 15px;
    display: flex;
}
.control-group>label{
    font-family:"kopume";
    color: #666;
    padding:15px;
    font-size: 12px;
}
.control-group>select{
    width:170px;
    font-family:"kopume";
}

.analysis-btn{
    padding:10px 20px;
    background-color:#65A3FF;
    color: #fff;
    border: none;
    border-radius:8px;
    cursor:pointer;
    font-family:"kopu";
}
.kakaomap{
    width: 100%;
    height: 600px;
    border-radius:10px;
    margin-bottom:200px;
}

.analysis-box{
    position:absolute;
    right:20px;
    top:20px;
    width:800px;
    z-index:10;
    background-color: rgba(255, 255, 255, 0.9);
    padding:15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.result-header{
    background: #65A3FF;
    color: white;
    padding: 15px;
    margin:5px;
    border-radius: 12px 12px 0 0;
}
.result-header>h4{
    font-family:"kopu";
}
.result-content{
    padding: 20px;
    margin:5px;
    border:1px solid #65A3FF;
}
.main-sentence{
    font-family:"kopume"
}
.term-guide>h5{
    font-family:"kopu";
}
.term-guide dl{
    margin-top:15px;
}
.term-guide dt {
    font-weight: bold;
    color: #65A3FF;
    font-size: 14px;
    margin-top: 10px;
}

.term-guide dd {
    font-size: 13px;
    color: #555;
    margin-left: 0;
    margin-bottom: 5px;
}