/* mainPage */
main{
    margin-top:50px;
}
/* .mainBanner{
    height:230px;
    margin-top:20px;
} */

.mainBanner{
    height:230px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* 검색창 */
/* 검색창 높이 226px */
.mainSearch{
    height:200px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}

.searchBox{
    padding:20px;
    padding:5px;
}

.search{

    margin:15px;
    width:1280px;
    height:77px;
    border-radius: 100px;
    text-align: left;    
    border: 3px solid #65A3FF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .18);
    /* position: relative; */
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* line-height:50px; */
}
/* 
.searchBox>.search>select{
=======
.search select{
>>>>>>> origin/임새롬
    width: 130px;
======= */

.search > form{
    display: flex;
    align-items: center;
    width: 100%;
}

.searchBox{
    padding:20px;
}

.search>form>select{
    width: 100px;
    border: none;
    /* box-sizing: border-box; */
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    border: none;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    margin:10px 50px;

    
}

#title{
    /* 남은 공간을 input이 모두 차지하기 위해서 */
    /* flex: 1;     */
    border:none;
    width: 800px;
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    padding: 3px 10px;
    /* box-sizing: border-box; */
}

#searchBtn{
    /* position: absolute; */
    /* top: 50%;
    right: 15px; */
    width: 60px;
    height: 40px;
    border: 0;
    font-size:0;
    vertical-align: middle;
    /* opacity: .9; */
    /* z-index: 5; */
    background-color:white;
    /* line-height:35px; */
    margin-left:120px;
    justify-content: center;
    align-items: center;
}
#searchBtn>img{
    width:40px;
    height:40px;
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
    /* display:block; */
    margin-left:50px;
}

.keyList{
    display:flex;
    /* border:1px solid; */
    margin:25px 380px;
}

.keyList button{
    border:none;
    border-radius:50px;
    margin:20px 5px;
    padding:8px;
    background-color:#65A3FF;
    color:white;
}

/* bgImg */
.bgImg{
    /* border:1px solid; */
    height:400px;
    display:flex;
}
.bgImg>.title{
    width:700px;
    height:400px;
    /* border:1px solid; */
}
.title>p{
    font-family:"kopu";
}
.title>.small{
    margin-top:30px;
    font-size:30px;
    padding-bottom:5px;
    font-weight:400;
    font-family:"kopu";
}
.title>.desc1{
    display:block;
    font-size:70px;
    font-weight:400;
    font-family:"kopume";
}
.title>.desc2{
    display:block;
    font-size:100px;
    color:#65A3FF;
    font-weight:500;
    font-family:"kopu";
}
.bgImg>.daegu{
    width:630px;
    height:400px;
    background-image: url("../../public/images/daegu_img.png");
}

/* issue */
.issue{
    border-radius:20px;
    display:flex;
    justify-content: center; 
    align-items: center;
    gap:20px;
    padding:0 !important; 
}

.service{
    width: 500px;
    height: 464px;
    background-image: url("../../public/images/jobayo_bg.png");
}

.issueBoxes{
    /* margin:10px; */
    padding:10px;
    display:flex;
    justify-content: center;
    text-align: center;
    height:400px;
}

#box{
    background: rgba(247, 247, 247, 0.9);
    width:260px;
    height:380px;
    border-radius:8px;
    overflow:hidden;
    margin:0 5px;
    transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}
#box:hover{
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform:translateY(-20px);
    background-color: #a0c4ff;
}



#box img{
    margin:20px 35px;
    width:190px;
    height:230px;
    /* border:1px solid; */
}
#box dl{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
}
#box dt{
    width:100%;
    height: auto;
    /* max-height: 250px; */
    font-size: 30px;
    font-weight: 700;
    font-family:"kopu";
}
#box dd{
    height:auto; 
    color: var(--color-gray2);
    font-size: 14px;
    margin:0 10px;
    padding:0;
    display: block;
    unicode-bidi: isolate;
    font-family: "kopume";
}

/* .issue>.issueEnd{
    height:55px;
    background-color:#3A6B71;
    border:1px solid #f6f7f9;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
} */

#box Link{
    cursor:pointer;
}


/* subMain2 */
.trendContent{
    /* background-color: lightblue; */
    margin-top:50px;
    margin-bottom:100px;
}
.trendTitle{
    text-align: center;
    margin:20px 0;
}
.trendTitle>h2{
    font-family: "kopu";
}
.trendBox{
    display: flex;
    /* 혹은 가로로 하고 싶을 때: */
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap; /* 중요 */
    justify-content : center;
}
/* .trendBox>div:nth-child(1){
    width:450px;
    height:400px;
    border: 1px solid;
} */
 /* .trendBox>div:nth-child(3){
    width:450px;
    height:400px;
    border: 1px solid;
} */

.kakao-map-result{
    /* 카카오맵과 검색하면 나오는 결과물 리스트를 담는 컨테이너 */
    display: flex;

    
}
.kakao-map{
    /* 카카오맵 담고 있는 박스 */

    border: 1px solid #ccd;
}

.result-section{
    /* 검색 결과 리스트를 담고 있는 박스 */

    border: 1px solid #ccd;
}

.result-list{
    /* 검색 결과 리스트 */

    width: 300px;
    height: 400px;

    overflow: auto;

    
    
    padding: 10px;

}

.result-head{
    /* 검색 결과 N개 */
    margin-bottom: 20px;
    
    font-weight: bold;
    font-size: 16px;

    
}

.results{
    /* 검색 결과들, ul */
    list-style: none; 
    padding: 0;
    margin: 0;

}

.result{
    /* 지도 검색 결과 하나하나씩 */
    margin-bottom: 15px;
    border-bottom: 1px solid #eee; 
    padding-bottom: 10px;
}

