input,
select {
    height: 50px;
}

input::placeholder {
    /* placeholder 걸려있는 입력창 글자 색깔 조정용 */
 	color: #abb4bd;
}

.box{
    margin-top:100px;
    width:1000px;
}
.box>.title{
    justify-content: center;
    margin-bottom:30px;
}
.box>.title>h1 {
    font-family:"kopu";
}

.step {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.step>.on{
    display:flex;
    text-align: center;
    padding:10px;
    height:40px;
}
.step>.on>.num>em {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-family: "kopume";
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    border-radius: 50%;
}
.step>.on::after {
    content: "...";
    display: inline-block;
    font-size: 20px;
    letter-spacing: 3px;
    width: 37px;
    height: 37px;
}

.step>.on:last-child::after {
    content: none;
}

.step>.on>.num>em.active {
    /* 1, 2, 3 꺼멓게 칠할거 */
    background-color: #65A3FF;
    font-weight: bold;
    color: white;
}

.step>.on>.num>.done {
    background: #ccc;
    border-color: #ccc;
    color: white;
}
.step>.on>p{
    font-family:"kopu";
    font-size:20px;
    /* border:1px solid; */
}

.provide-points {
    width: 100%;
    height: 105px;
    background-color: #65A3FF;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.provide-points>b {
    width: 100%;
    height: 26px;
    font-size: 17px;
    font-family: "kopume";
    color: white;
    margin:5px 0;
}

/* 회원가입폼 */
.join-form {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* gap: 25px; */
    /* padding: 0 10px; */
    width: 100%; 
}

.join-form>.input-group {
    width:90%;
    max-width:900px;
    height:63px;
    display: flex;
    line-height: 50px;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.input-group>label {
    width: 200px;
    height:60px;
    flex-shrink: 0;
    background-color: #eef2f3;
    /* padding: 12px; */
    font-weight: bold;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    border-radius: 8px;
    font-family: "kopu";
}

.input-group>input {
    /* 오른쪽의 사용자가 입력하는 공간 */
    font-family: "kopume";
    height: 60px; 
    border: 1px solid #d8d8d8;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding:10px;
}

.join-form .first{
    margin:30px 0;
}
.join-form .second{
    margin-bottom:30px;
}

.guide{
    height:20px;
    /* width: 100%; */
    color: #a7a7a7;
    font-size: 15px;
    margin:10px 0 20px 0;
}

.birth{
    display:flex;
    align-items: center;
    justify-content: center;
}
.select-div {
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width:650px;
}

.select-div>select {
    margin: 12px 10px;
    border-style: none;
    font-size:18px;
    font-family: "kopume";
}
.select-div>:nth-child(1) {
    flex: 3;
}
.select-div>:nth-child(2) {
    flex: 2;
}
.select-div>:nth-child(3) {
    flex: 2;
}

/* 성별 */
.gender{
    display:flex;
    align-items: center;
    text-align: center;
}
.gender-check{
    display:flex;
    min-width:660px;
    align-items: center;
    height:60px;
    padding:5px 0 5px 10px;
}
.gender-check>label{
    display:flex;
    align-items: center;
    font-size: 18px;
    font-family: "kopume";
    cursor: pointer;
    margin-right:100px;
}
.gender-check>label>input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin:0;
    margin-right:8px;
    border: 2px solid #ccc;
    background-color:#fff;
    border-radius: 50%;
    /* outline: none; */
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    transition:box-shadow 0.2s, border-color 0.2s;
}

.gender-check>label>input[type="radio"]:checked {
    border-color: #65A3FF; /* 체크 시 테두리 색상 변경 */
    background-color: #fff; /* 체크 시 배경색 유지 */
}

.gender-check>label>input[type="radio"]::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A3FF;
    border-radius: 50%;
    /* 중앙배치 */
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.gender-check>label>input[type="radio"]:checked::after{
    opacity: 1;
}

.gender-check>label>input[type="radio"]:focus-visible{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.gender-check>label>input[type="radio"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

/* 연락처 */
.phone>input[type="text"]::placeholder{
    font-size: 15px;
    color: #aaa; 
}

/* 이메일 */
.email>p{
    margin:12px;
}
.email>p{
    width:30px;
    font-size:18px;
    font-family: "kopu";
    margin:5px 0;
    font-style: bold;
}
.email>select{
    min-width:300px;
    align-items: center;
    justify-content: center;
    border-style: none;
    font-size:18px;
    font-family: "kopume";
    margin:5px 0;
}

/* 관심 창업 아이템 체크박스들 */
.keyword-dl{
    margin:0;
}

.keyword-checkbox{
    display: grid;
    grid-template-columns: repeat(5,auto);
    align-items: center;
    text-align: center;
    margin:7px auto;
}

.keyword-checkbox>label{
    height:100%;
    font-size: 18px;
    font-family: "kopume";
    display:flex;
    align-items: center;
    cursor: pointer;
    margin:0 15px;
}
.guide-check{
    height:20px;
    /* width: 100%; */
    color: #a7a7a7;
    font-size: 15px;
    margin:10px 0 20px 150px;
    text-align: left;
    width:600px;
}
.keyword-checkbox>label>input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #666;
    position: relative;
    cursor: pointer;
    margin-right:8px;
}

.keyword-checkbox>label>input[type="checkbox"]:checked {
    border-color: #1e90ff; /* 체크 시 테두리 색상 변경 */
    background-color: #fff; /* 체크 시 배경색 유지 */
}

.keyword-checkbox>label>input[type="checkbox"]::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A3FF;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.keyword-checkbox>label>input[type="checkbox"]:checked::after{
    opacity: 1;
}

.keyword-checkbox>label>input[type="checkbox"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.keyword-checkbox>label>input[type="checkbox"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}

.keyword-guide{
    height: 20px;
    width: 100%;
    color: #a7a7a7;
    font-size: 15px;
    line-height: 2;
    grid-column: 1 / -1;
    white-space: pre-line;
}

.recieve-checkbox{
    display: flex;
    align-items: center;
    text-align: center;
    width:600px;
}

.recieve-checkbox>label{
    font-size: 13px;
    display:flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin:5px 70px;
    font-size: 18px;
    font-family: "kopume";
}
.guide-recieve{
    height:20px;
    color: #a7a7a7;
    font-size: 15px;
    margin:10px 0 20px 150px;
    text-align: left;
    width:600px;
}
.recieve-checkbox>label>input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #666;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
}
.recieve-checkbox>label>input[type="checkbox"]:checked {
    border-color: #1e90ff; /* 체크 시 테두리 색상 변경 */
    background-color: #fff; /* 체크 시 배경색 유지 */
}

.recieve-checkbox>label>input[type="checkbox"]::after{
    /* 체크되면 체크된거처럼 보이게 할거 */
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A3FF;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.recieve-checkbox>label>input[type="checkbox"]:checked::after{
    opacity: 1;
}

.recieve-checkbox>label>input[type="checkbox"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.recieve-checkbox>label>input[type="checkbox"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}

.bottom-border{
    height: 20px;
    margin-bottom: 40px;
    border-bottom: 5px solid #65A3FF;
}
/* 버튼 */
.cancel-join{
    margin-bottom:100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cancel-join button{
    width: 180px;
    height: 50px;
    text-decoration: none;
    border:none;
    color: #FFF;
    font-family: "kopu";
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    border-radius: 4px;
    background-color: #c4c4c4;
}

.cancel-join>:nth-child(2){
    background-color: #65A3FF;
}
