.neighborhood{
    margin:20px 0 50px 0;
}

.kakao-map-result{
    /* 카카오맵과 검색하면 나오는 결과물 리스트를 담는 컨테이너 */
    display: flex;
}
.kakao-map{
    /* 카카오맵 담고 있는 박스 */
    border: 1px solid #ccd;
}

.result-section{
    /* 검색 결과 리스트를 담고 있는 박스 */
    border: 1px solid #ccd;
}
.result-list{
    /* 검색 결과 리스트 */
    width: 300px;
    height: 400px;
    overflow: auto;
    padding: 10px;

}
.result-head{
    /* 검색 결과 N개 */
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}
.results{
    /* 검색 결과들, ul */
    list-style: none; 
    padding: 0;
    margin: 0;

}
.result{
    /* 지도 검색 결과 하나하나씩 */
    margin-bottom: 15px;
    border-bottom: 1px solid #eee; 
    padding-bottom: 10px;
}