input,
select {
    height: 50px;
}

input::placeholder {
    /* placeholder 걸려있는 입력창 글자 색깔 조정용 */
 	color: #abb4bd;
}

.box{
    width: 1280px;
    /* border:1px solid; */
}
.box>.title{
    display:flex;
    justify-content: center;
    margin:30px 0;
}
.box>.title>h1 {
    text-align: center;
    font-family: "logo";
    font-size:50px;
    /* border:1px solid; */
    margin-right:30px;
}
.box>.title>h2 {
    /* border:1px solid; */
    font-family:"kopu";
    font-size:45px;
    text-align: center;
}

.step {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

}
.step>.on{
    display:flex;
    /* border:1px solid; */
    text-align: center;
    padding:10px;
}
.step>.on>.num{
    line-height:60px;
    /* border:1px solid; */
}
.step>.on>.num>em {
    /* 1, 2, 3 숫자  */
    display: inline-block;
    width: 37px;
    height: 37px;
    font-family: "kopume";
    /* color: #3A6B71; */
    text-align: center;
    line-height: 37px;
    margin-right: 15px;
    border-radius: 50%;
}

.step>.on::after {
    content: "...";
    display: inline-block;
    font-size: 20px;
    letter-spacing: 3px;
    width: 37px;
    height: 37px;
    line-height: 60px;
}

.step>.on:last-child::after {
    content: none;
}

.step>.on>.num>em.active {
    /* 1, 2, 3 꺼멓게 칠할거 */
    background-color: #65A3FF;
    font-weight: bold;
    color: white;
}

.step>.on>.num>.done {
    background: #ccc;
    border-color: #ccc;
    color: white;
}
.step>.on>p{
    font-family:"nexonLight";
    font-size:20px;
    /* border:1px solid; */
}
.provide-points {
    width: 100%;
    height: 104px;
    margin-right: 0 0 30px;
    padding: 25px 0;
    background-color: #65A3FF;
    color: #A5A5A5;
    font: 14px;
    font-family:"nexonRegular";
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.provide-points>b {
    width: 100%;
    height: 26px;
    font-size: 18px;
    font-family: "kopume";
    color: white;
    margin: 0 0 8px;
}

/* 회원가입폼 */
.join-form {
    /* 아이디나 이름 생년월일 적을 칸들이 있는 공간 */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* gap: 25px; */
    /* padding: 0 10px; */
    /* margin-top: 30px; */
    /* margin: 30px auto; */
    width: 100%; 
}

.join-form>.input-group {
    width:90%;
    max-width:900px;
    display: flex;
    line-height: 50px;
    position: relative;
    justify-content: space-between;
    margin: 0 0 30px;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.input-group>label {
    width: 200px;
    flex-shrink: 0;
    background-color: #eef2f3;
    padding: 12px;
    font-weight: bold;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    font-family: "kopu";
}

.input-group>input {
    /* 오른쪽의 사용자가 입력하는 공간 */
    /* width: 1000px;
    height: 50px; */
    border: 1px solid #d8d8d8;
    flex-grow: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 20px;
    margin:12px;
}

.join-form .first{
    margin-top:30px;
}

.guide{
    height: 20px;
    width: 100%;
    /* text-align:center; */
    /* padding-top: 2px; */
    color: #a7a7a7;
    font-size: 15px;
    margin-top:-15px;
    line-height:10px;
    margin-left:800px;
}

/* 생년월일 */
.select-div {
    display: flex;
    gap: 10px;
    width:700px;
    align-items: center;
    justify-content: center;
}

.select-div>select {
    margin: 12px 10px;
    border-style: none;
    font-size:15px;
}

.select-div>:nth-child(1) {
    flex: 3;
}

.select-div>:nth-child(2) {
    flex: 2;
}

.select-div>:nth-child(3) {
    flex: 2;
}

/* 성별 */
.gender-check{
    display:flex;
    width:100%;
    align-items: center;
}
.gender-check>label{
    display:flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right:15px;
}

.gender-check>label>input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin:0;
    margin-right:8px;
    border: 2px solid #ccc;
    background-color:#fff;
    border-radius: 50%;
    /* outline: none; */
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    transition:box-shadow 0.2s, border-color 0.2s;
}

.gender-check>label>input[type="radio"]:checked {
    border-color: #1e90ff; /* 체크 시 테두리 색상 변경 */
    background-color: #fff; /* 체크 시 배경색 유지 */
}

.gender-check>label>input[type="radio"]::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A3FF;
    border-radius: 50%;
    /* 중앙배치 */
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.gender-check>label>input[type="radio"]:checked::after{
    opacity: 1;
}

.gender-check>label>input[type="radio"]:focus-visible{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.gender-check>label>input[type="radio"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    /* cursor: pointer; */
}

/* 연락처 */
.phone>input[type="text"]::placeholder{
    font-size: 15px; /* 기본 입력 폰트(16px)보다 작게 설정 */
    color: #aaa; /* 색상도 약간 흐리게 */
}

/* 이메일 */
.email>p{
    margin:12px;
}
.email>select{
    width:300px;
    align-items: center;
    justify-content: center;
    border-style: none;
    margin:12px;
    font-size:15px;
}

/* 관심 창업 아이템 체크박스들 */
.keyword-dl{
    margin:0;
}

.keyword-checkbox{
    display: grid;
    grid-template-columns: repeat(5,auto);
    align-items: center;
    text-align: center;
    margin:10px auto;
    width: fit-content;
}

.keyword-checkbox>label{
    height:100%;
    font-size: 13px;
    display:flex;
    align-items: center;
    cursor: pointer;
    margin:0 10px;
    width:100px;
}

.keyword-checkbox>label>input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #666;
    position: relative;
    cursor: pointer;
    margin-right:8px;
}

.keyword-checkbox>label>input[type="checkbox"]:checked {
    border-color: #1e90ff; /* 체크 시 테두리 색상 변경 */
    background-color: #fff; /* 체크 시 배경색 유지 */
}

.keyword-checkbox>label>input[type="checkbox"]::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A3FF;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.keyword-checkbox>label>input[type="checkbox"]:checked::after{
    opacity: 1;
}

.keyword-checkbox>label>input[type="checkbox"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.keyword-checkbox>label>input[type="checkbox"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}

.keyword-guide{
    height: 20px;
    width: 100%;
    color: #a7a7a7;
    font-size: 15px;
    line-height: 2;
    grid-column: 1 / -1;
    white-space: pre-line;
}

/* 수신여부 */
.recieve-dl{
    /* height: 100px; */
}

.recieve-checkbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    margin:10px auto;
    width: fit-content;
}

.recieve-checkbox>label{
    height:100%;
    font-size: 13px;
    display:flex;
    align-items: center;
    cursor: pointer;
    margin-right:30px;
}

.recieve-checkbox>label>input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #666;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
}

.recieve-checkbox>label>input[type="checkbox"]:checked {
    border-color: #1e90ff; /* 체크 시 테두리 색상 변경 */
    background-color: #fff; /* 체크 시 배경색 유지 */
}

.recieve-checkbox>label>input[type="checkbox"]::after{
    /* 체크되면 체크된거처럼 보이게 할거 */
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A3FF;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.recieve-checkbox>label>input[type="checkbox"]:checked::after{
    opacity: 1;
}

.recieve-checkbox>label>input[type="checkbox"]:focus-visible{
     box-shadow: 0 0 0 max(4px, 1px) lightgray;
}

.recieve-checkbox>label>input[type="checkbox"]:hover{
    box-shadow: 0 0 0 max(4px, 1px) lightgray;
    cursor: pointer;
}
.line{
    margin:30px;
}

/* 버튼 */
.cancel-join{
    margin-bottom:100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cancel-join a{
    width: 230px;
    height: 70px;

    text-decoration: none;
    color: #FFF;

    font-family: sans-serif;
    font-size: 20px;
    margin: 0 10px;

    text-align: center;

    line-height: 70px;

    border-radius: 1%;

    background-color: #c4c4c4;
}

.cancel-join>:nth-child(2){
    background-color: #65A3FF;
}
