* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.layoutCenter{
    width:1440px;
    margin:0 auto;
}

.header{
    height:130px;
    /* border-bottom: 3px solid #3A6B71; */
    box-shadow: 0 4px 3px #bbb;
    background-color: white;
    position:sticky; 
    top: 0;
    left:0;
    width:100vw;
    /* border:1px solid; */
    z-index: 1000;
    /* 맨 위에 붙어있게 하기 위해 top, left 0 필수 */
 }

 /* 로그인, 회원가입 -> topHeader */
.topHeader{
    height:45px; 
    padding:5px 0;
    margin:10px 0;
}

.topHeader>.topList>.topNav{
    display:flex;
    justify-content: flex-end;
    width:500px;
    margin-left:auto;
    /* border:1px solid;  */
}

.topHeader>.topList>.topNav>.topNavli a{
    transition: color 0.3s ease;
    /* border:1px solid; */
    font-size:16px;
    color:black;
    width:130px;
}
.topHeader>.topList>.topNav>.topNavli>.login{
    display:flex;
    align-items: center;
    gap:5px;
    text-decoration: none;
    margin:5px 0;
    font-family:'kopu';
}
.topHeader>.topList>.topNav>.topNavli .imgLogin{
    width:25px;
    height:25px;
    /* border:1px solid; */
}
.topHeader>.topList>.topNav>.topNavli>.join{
    display:flex;
    align-items: center;
    gap:5px;
    text-decoration: none;
    margin:5px 0;
    font-family:'kopu';
}
.topHeader>.topList>.topNav>.topNavli .imgJoin{
    width:25px;
    height:25px;
    /* border:1px solid; */
}


/* logo, 메뉴바 -> navHeader */

/* .custom .navHeader{border:1px solid;} */

.detailnav {
    display: flex;
    position:relative;
    height:85px;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    /* border:1px solid; */
}
.detailnav>h1{
    /* font-style:#95BECD; */
}
.detailnav>h1>a{
    font-family:'logo';
    color:#65A3FF;
    font-size:40px;
}
.wrap{
    display:flex;
    position: absolute;
    /* width: calc(100% - 600px); */
    left: 300px;
    /* border:1px solid; */
}
.wrap>.mainNav {
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid; */
}
.wrap>.mainNav>.mainList {
    /* border:1px solid; */
    margin:0 20px;
    position: relative; 
    text-align:center;
    width: 250px;
    height:70px;
}
.mainMenu{
    font-family:'kopu';
}
.wrap>.mainNav>.mainList>.listLine {
    /* border:1px solid; */
    margin:0 20px;
    line-height: 60px;
    font-size: 20px;
}
.wrap>.mainNav>.mainList>.listLine::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scaleX(0); 
  transform-origin: left;
  background: #65A3FF;
}
.wrap>.mainNav>.mainList>.listLine:hover::before{
  transform: scaleX(1);
}
.wrap>.mainNav>.mainList>.listLine:hover>.mainMenu{
    color:#65A3FF;
    font-weight: bold;
}

/* mainNav 호버하면 전체 서브메뉴 나옴 */
.wrap>.mainNav>.mainList:hover .subNav {
    display: block;
}

.wrap>.mainNav>.mainList:nth-child(1){
    /* margin-left:30px; */
}


.wrap>.mainNav>.mainList>.subNav {
    width:100%;
    height:200px;
    position: absolute;
    top: 100%;
    /* top:100px 원래 코드 */
    left: 0;
    background-color: white;
    /* opacity:0; */
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 0;
}
.wrap>.mainNav>.mainList>.subNav>.subList{
    /* border:1px solid; */
    font-size:16px;
    height:63px;
}
.wrap>.mainNav>.mainList>.subNav>.subList>a{
    display:flex;
    height: 100%; 
    align-items: center;
    padding:0 20px;
    /* line-height:60px; */
    justify-content: center;
    font-family:'kopu';
}

/* footer */
.custom>footer{
    background-color:rgba(0,0,0,0.1);
    /* #3a6b7113 */
    height:240px;
}
.mainFooter{
    /* border:1px solid; */
    padding-top: 20px;
    /* 여기서 마진 잡으면 X */
}
.footerLogo>h1{
    margin:20px 30px;
    font-family:'logo';
}
.footerInfo{
    display:flex;
}
.footerInfoL{
    margin-left:30px;
}
.footerInfoL>p{
    width:700px;
    padding:0;
    margin:0 90px 0 0;
}
.footerInfoR{
    /* border:1px solid; */
    margin-left:220px;
    width:500px;
    display:flex;
}
.footerInfoR>.site{
    border-right:1px solid lightgray;
    width:120px;
    
}
.footerInfoR>.site a{
    padding:10px;
}
.footerInfoR li{
    margin:10px;
}
.footerInfoR>.related{
    border-right:1px solid lightgray;
    width:140px;
}
.footerInfoR>.related a{
    padding:10px;
}


.footerInfoR>.personInfo{
    width:210px;
}
.footerInfoR>.personInfo a{
    padding:10px;
}

/* footer font */
.footerInfo p{
    font-family:"kopume";
}

.footerInfo a{
    font-family:"kopume";
}

@media screen and (max-width: 1500px) {
    .detailnav {
        width: 98%;
        padding: 0 1%;
    }
}

/* ------------------------------------------------------------------- */
/* mainPage */
.mainBanner{
    height:220px;
    margin-top:30px;
}

/* 검색창 */
/* 검색창 높이 226px */
.mainSearch{
    /* border:1px solid; */

    height:200px;
    display:flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.searchBox>.search{
    margin:5px;
    width:1280px;
    height:77px;
    border-radius: 100px;
    text-align: left;    
    border: 3px solid #65A3FF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .18);
    position: relative;
    line-height:50px;
}
.searchBox>.search>select{
    width: 130px;
    border: none;
    /* box-sizing: border-box; */
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    border: none;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    margin:20px 50px;
}
.searchBox>.search>#title{
    border:none;
    width: 800px;
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    padding: 3px 10px;
    /* box-sizing: border-box; */
}
.searchBox>.search>#searchBtn{
    /* position: absolute; */
    /* top: 50%;
    right: 15px; */
    width: 60px;
    height: 40px;
    border: 0;
    font-size:0;
    vertical-align: middle;
    /* opacity: .9; */
    /* z-index: 5; */
    background-color:white;
    /* line-height:35px; */
    margin-left:120px;
    justify-content: center;
    align-items: center;
}
.searchBox>.search>#searchBtn>img{
    width:40px;
    height:40px;
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
    display:block;
}
.searchBox>.searchKey>.keyList{
    display:flex;
    /* border:1px solid; */
    margin:25px 380px;
    
}
.searchBox>.searchKey>.keyList a{
    /* border:1px solid; */
    border-radius:50px;
    margin:20px 5px;
    padding:8px;
    background-color:#65A3FF;
    color:white;
}

/* subMain */
.subMain {
    /* border:1px solid; */
}

.subMain1 {
    /* border:1px solid; */
}

/* bgImg */
.bgImg{
    /* border:1px solid; */
    height:500px;
    display:flex;
}
.bgImg>.title{
    width:860px;
    height:400px;
    /* border:1px solid; */
    margin:20px 0 30px 40px;
}
.title>.small{
    margin:50px 0 0 0;
    font-size:30px;
    padding-bottom:5px;
    font-weight:400;
}
.title>.desc1{
    display:block;
    font-size:70px;
    font-weight:400;
}
.title>.desc2{
    display:block;
    font-size:100px;
    color:#65A3FF;
    font-weight:500;
}

.bgImg>.daegu{
    width:600px;
    height:400px;
    background-image: url("../image/daegu_img.png");
    margin:20px 30px 20px 10px;
}


/* issue */
.issue{
    /* height:500px; */
    /* border:1px solid; */
    border-radius:20px;
    display:flex;
    justify-content: center; 
    align-items: center;
    height:500px;
}

.service{
    width: 500px;
    height: 464px;
    background-image: url(../image/jobayo_bg.png);
}

.issueBoxes{
    /* border:1px solid; */
    
    margin:10px;
    display:flex;
    justify-content: center;
    text-align: center;
    height:400px;
}

.btn {
  appearance: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin: 20px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #3A6B71 inset;
    color:white;
    outline: 0;
  }
  &:focus {
    color: #3A6B71;
    outline: 0;
  }
}

#box{
    /* border:1px solid yellow; */
    width:260px;
    height:380px;
    border-radius:8px;
    overflow:hidden;
    margin:20px;
    transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}
#box:hover{
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform:translateY(-10px);
    background-color: #a0c4ff;
}
#box *{
    /* padding:10px; */
}


#box img{
    margin:0 10px;
    width:240px;
    height:240px;
    /* border:1px solid; */
}
#box dl{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
}
#box dt{
    width:100%;
    height: auto;
    /* max-height: 250px; */
    /* border: 1px solid blue; */
    font-size: 30px;
    font-weight: 700;
}
#box dd{
    height:auto; 
    color: var(--color-gray2);
    font-size: 14px;
    margin:0 10px;
    padding:0;
    display: block;
    unicode-bidi: isolate;
}


/* .issue>.issueEnd{
    height:55px;
    background-color:#3A6B71;
    border:1px solid #f6f7f9;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
} */

/* subMain2 */
.trend{
    height:700px;
    /* border:1px solid; */
}
.trendContent{
    /* border:1px solid; */
}
.trendTitle{
    height:50px;
    text-align: center;
    margin:20px 70px 0 20px;
}
.trendBox{
    display:flex;
    justify-content: center; 
    align-items: center;
}
.trendBox div{
    margin:25px 20px 0 20px;
    width:450px;
    height:530px;
    background-color:rgb(234, 234, 234);
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
}

