.mypage-title{
    text-align: center;
}
.table-title{
    width:1000px;
    height:20px;
    display:flex;
    margin:10px auto;
}
.table-title>h4{
    margin-left:10px;
}
.table-title>.starsign{
    margin-left:730px;
}
h4{
    margin:0;
}

.my-page-notice{
    width:1000px;
    height:100px;
    background-color:#eef2f3 ;
}
.my-page-notice p{
    margin:0;
    padding:0;
}
.dl-table{
    width:1000px;
    /* height:1000px; */
}
.dl-table>.table{
    width:1000px;
    display: flex;
    line-height: 50px;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
}
.table{
    margin:0;
}
.table>.table-label{
    width: 250px;
    height:90px;
    flex-shrink: 0;
    background-color: #eef2f3;
    padding: 12px;
    font-weight: bold;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    font-family: "kopu";
}
.table>.table-update{
    /* border: 1px solid #d8d8d8; */
    font-size: 20px;
    width:750px;
    margin:0;
}
.table-update>span{
    width:100%;
}
.phone-update{
    display:flex;
    align-items: center;
}
.table-btn{
    margin:50px 0;
    text-align: center;
}
.table-btn>.btn{
    height: 70px;
    width:300px;
    background-color: #65A3FF;
    border:none;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-family: "kopu";
}
