.notice{
    margin-top:100px;
}
.notice-title{
    width:1000px;
    border-bottom:1px solid #ddd;
}
.notice-list{
    width:1000px;
    height:800px;
}
.notice-middle{
    background-color: yellow;
}
.notice-middle>table{
    border-collapse:collapse;
    float:left;
    width:100%;
    
}
thead{
    border-top:2px solid;
    border-bottom:2px solid #ddd;
}

thead>tr>th{
    font-weight:200;
    text-align:center;
    font-size:18px;
    font-family: "kopu";
    /* padding:0.35em 0 .35em; */
    height:50px;
    background-color:rgb(249 250 251 / var(--tw-bg-opacity, 1));;
}
thead>tr>th:nth-child(2){
    width:450px;
}

tbody{
    
}
tbody>tr{
    height:48px;
    border-bottom:2px solid #ddd;
}
td{
    padding: .75em 0;
    scroll-snap-align: start;
}