body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sign-in{
    height: 700px;
    display: flex;
    justify-content: center;
    
    flex-grow: 1;
}

.sign-in>main{
    margin:70px 0;
    width: 500px;
    
}

.sign-in>main>h2{
    text-align: center;
    width: 500px;
    height: 45px;
    font-size: 40px;
    font-family: "kopu";
}

.under-line{
    height: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}

.login{
    
    width: 500px;
}

.form>dt{
    width: 100%;
    font-family:"kopu";
    margin: 5px 0;
    font-size:20px;
}
.form>input{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

.form>.submit-block{
    
    height: 70px;
    background-color: #65A3FF;
    color: white;
    font-family:sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 4px;
    font-family: "kopu";
}

.tx_btns{
    display: flex;
    justify-content: space-between;
}

.tx_btns>div{
    display: flex;
    gap: 10px;
}

.login-a-tag{
     
    word-spacing: -1px;
    font-family:"kopume";
}